In [2]:
import json
import pandas as pd
import numpy as np
import glob
import csv
from faker import Faker
from faker.providers import internet
import datetime
from sqlalchemy import create_engine
import psycopg2
from config import db_password
import time

In [13]:
path = r'../Resources1'
filenames = glob.glob(path + '/*.csv')
dfs = []
for filename in filenames:
    df=pd.read_csv(filename, index_col='zip', header=0)
    dfs.append(df)
    
usa_df = pd.concat(dfs, axis= 0, ignore_index=True)
usa_df.drop('Unamed: 0', axis=1)
usa_df.head()

ValueError: Index zip invalid

In [17]:
median_income_2000 = pd.read_csv('../Resources1/median_income_2000.csv')
median_income_2000 = median_income_2000.drop('Unnamed: 0', axis=1)
median_income_2000.set_index('zip', inplace=True)
median_income_2000.head()

      Median Income 2000
zip
94027           $200,001
92067           $196,298
94028           $164,479
94022           $145,425
94506           $142,459

In [18]:
median_income_2014 = pd.read_csv('../Resources1/median_income_2014.csv')
median_income_2014= median_income_2014.rename(columns = {'Zip':'zip'})
median_income_2014.set_index('zip', inplace=True)
median_income_2014=median_income_2014.drop('Unnamed: 0', axis=1)
median_income_2014.head()

      Median_Household_Income_2014
zip
94027                     $236,912
92145                     $228,587
91980                     $200,325
94957                     $187,857
94022                     $182,750

In [19]:
median_rent_2000 = pd.read_csv('../Resources1/median_rent_2000.csv')
median_rent_2000.set_index('zip', inplace=True)
median_rent_2000 = median_rent_2000.drop('Unnamed: 0', axis=1)
median_rent_2000.head()

      Median_Rent_2000
zip
92067           $2,001
92091           $2,001
92602           $2,001
93953           $2,001
94027           $2,001

In [20]:
median_income_2014 = pd.read_csv('../Resources1/median_rent_2014.csv')
median_income_2014.set_index('zip', inplace=True)
median_income_2014 = median_income_2014.drop('Unnamed: 0', axis=1)
median_income_2014.head()

      Median_Rent_2014
zip
90067           $2,001
90077           $2,001
90094           $2,001
90210           $2,001
90265           $2,001

In [21]:
total_pop_2000 = pd.read_csv('../Resources1/total_pop_2000.csv')
total_pop_2000.set_index('zip', inplace=True)
total_pop_2000 = total_pop_2000.drop('Unnamed: 0', axis=1)
total_pop_2000.head()

       Total Population % in 2014
zip
90650                      106521
90011                      102926
90201                      102515
91331                      102367
92335                       99580

In [22]:
total_pop_2014 = pd.read_csv('../Resources1/total_pop_2014.csv')
total_pop_2014.set_index('zip', inplace=True)
total_pop_2014 = total_pop_2014.drop('Unnamed: 0', axis=1)
total_pop_2014.head()

       Total Population % in 2014
zip
90650                      106521
90011                      102926
90201                      102515
91331                      102367
92335                       99580

In [23]:
white_pop_2000 = pd.read_csv('../Resources1/white_pop_2000.csv')
white_pop_2000.set_index('zip', inplace=True)
white_pop_2000 = white_pop_2000.drop('Unnamed: 0', axis=1)
white_pop_2000.head()

      White Population % in 2000
zip
90263                     100.0%
91743                     100.0%
92338                     100.0%
95232                     100.0%
95735                     100.0%

In [24]:
white_pop_2014 = pd.read_csv('../Resources1/white_pop_2014.csv')
white_pop_2014.set_index('zip', inplace=True)
white_pop_2014 = white_pop_2014.drop('Unnamed: 0', axis=1)
white_pop_2014.head()

      White Population % in 2014
zip
91948                     100.0%
92060                     100.0%
92266                     100.0%
92304                     100.0%
92332                     100.0%