In [1]:
import pandas as pd
from lxml import html

In [2]:
def total_func(url,name):
    dfs = pd.read_html(url)
    df = pd.concat(dfs)
    df.columns = ['rank', name, 'zip']
    df.drop('rank', axis=1, inplace = True)
    df['zip'] = [x[:-4] for x in df['zip'] if len(df['zip']) >= 10]
    df['zip'] = df['zip'].replace({'/':''}, regex=True)
    df['zip'] = [z[0:5] for z in df['zip']]     
    df = df.iloc[1:]
    df.to_csv(r'../Resources3/'+name+'.csv')
    return df.head()

In [3]:
total_func('http://www.usa.com/rank/california-state--house-median-value--zip-code-rank.htm?hl=&hlst=&wist=&yr=1000&dis=50&sb=DESC&plow=&phigh=&ps=',
           'house_median_value_2000'
          )

     house_median_value_2000    zip
1                 $1,000,001  90210
2                 $1,000,001  90402
3                 $1,000,001  90743
4                 $1,000,001  92067
5                 $1,000,001  93108
...                      ...    ...
1633                 $35,000  93530
1634                 $34,500  92328
1635                 $33,500  93554
1636                 $31,100  93528
1637                 $27,600  93562

[1637 rows x 2 columns]

In [4]:
total_func('http://www.usa.com/rank/california-state--house-median-value--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'house_median_value_2014'
          )

     house_median_value_2014    zip
1                 $1,000,001  90024
2                 $1,000,001  90049
3                 $1,000,001  90077
4                 $1,000,001  90210
5                 $1,000,001  90211
...                      ...    ...
1646                 $26,300  92328
1647                 $22,900  92309
1648                 $22,500  96049
1649                 $13,900  91931
1650                  $9,999  95443

[1650 rows x 2 columns]

In [5]:
total_func('http://www.usa.com/rank/california-state--total-population--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'total_pop_2014'
          )

     total_pop_2014    zip
1            106521  90650
2            102926  90011
3            102515  90201
4            102367  91331
5             99580  92335
...             ...    ...
1732             12  95923
1733             12  95944
1734              7  92332
1735              7  96108
1736              6  93943

[1736 rows x 2 columns]

In [6]:
total_func('http://www.usa.com/rank/california-state--total-population--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'total_pop_2000'
          )

     total_pop_2000    zip
1            105275  90201
2            103211  90650
3            101214  90011
4             98226  92054
5             97300  91331
...             ...    ...
1666              6  90071
1667              4  95937
1668              3  91743
1669              2  90263
1670              2  95836

[1670 rows x 2 columns]

In [ ]:
total_func('http://www.usa.com/rank/california-state--median-rental-price--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'median_rent_2014'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--median-rental-price--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'median_rent_2000'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--white-population-percentage--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'white_pop_2014'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--white-population-percentage--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'white_pop_2000'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--average-education-index--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'avg_edu_2014'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--average-education-index--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'avg_edu_2000'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--median-household-income--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'median_income_2014'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--median-household-income--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'median_income_2000'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--take-public-transportation-to-work-population-percentage--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'public_transportation_2014'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--take-public-transportation-to-work-population-percentage--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'public_transportation_2000'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--population-density--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'population_density_2014'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--population-density--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'population_density_2000'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--per-capita-income--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'per_capita_income_2014'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--per-capita-income--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'per_capita_income_2000'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--crime-index--city-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'crime_index_2014'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--crime-index--city-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'crime_index_2000'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--public-school-performance--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh=',
           'public_school_2014'
          )

In [ ]:
total_func('http://www.usa.com/rank/california-state--public-school-performance--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=',
           'public_school_2000'
          )