In [4]:
import json
import pandas as pd
import numpy as np
import glob
import csv
import logging
import boto3
from botocore.exceptions import ClientError

In [7]:
predicted_df = pd.read_csv('https://gentrificationoutcome.s3.amazonaws.com/predicted.csv ')
predicted_df.set_index('zip', inplace=True)
predicted_df.head()

,Index Change,Percent_Change_House,Percent_Change_Rent,Percent_Change_Public_Transp,Percent_Change_Population,Percent_Change_White,Outcome
zip,,,,,,,
91311,0.28,0.418051,0.592135,0.011,0.069428,-0.102,0
90670,0.78,0.492026,0.699865,0.012,-0.041136,0.075,0
92065,-0.10,0.400943,0.728412,-0.004,0.089219,0.030,0
93710,0.07,0.332705,0.561279,0.014,0.129130,-0.023,0
95019,0.94,0.561080,0.627803,0.006,0.557668,0.218,0

In [14]:
predicted_df.count()

Index Change                    273
Percent_Change_House            273
Percent_Change_Rent             273
Percent_Change_Public_Transp    273
Percent_Change_Population       273
Percent_Change_White            273
Outcome                         273
dtype: int64

In [6]:
predicted_df.to_csv('Resources/predicted.csv', index='zip', header=True)

In [ ]:
# mode = "append"
# jdbc_url="jdbc:postgresql://datagen.cuwjyqdbqund.us-east-1.rds.amazonaws.com:5432/postgres"
# config = {"user":"postgres",
#           "password": "accessdb1",
#           "driver":"org.postgresql.Driver"}

In [ ]:
# predicted_df.write.jdbc(url=jdbc_url, table='predicted_df', mode=mode, properties=config)

In [ ]:
def upload_file(file_name, bucket, object_name=None):
    if object_name is None:
        object_name = file_name

    # Upload the file
    s3_client = boto3.client('s3')
    try:
        response = s3_client.upload_file(file_name, bucket, object_name)
    except ClientError as e:
        logging.error(e)
        return False
    return True